__pycache__/
*.pyc
experiments_out/
configs/hydra/cluster.yaml
models/
gaussian-splatting/
*.out
pytorch3d/
demo_examples/
datasets/viewlist_src_nmr.txt
scores.txt
out/
*.out
original_model/
model_hydrants.pth