__pycache__
*/__pycache__
experiments_out
configs/hydra/cluster.yaml
models/
gaussian-splatting/
*.out
/data2/badrinath/splatter-image/models/model_hydrants.pth
pytorch3d
gaussian-splatting/
demo_examples